@font-face {
  font-family: "Asul";
  font-style: normal;
  src: url("Asul-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: "Asul";
  font-weight: 600;
  src: url("Asul-Bold.ttf") format("truetype"),
}

@font-face {
  font-family: "C059";
  font-style: normal;
  src: url("C059-Roman.ttf") format("truetype"),
}

@font-face {
  font-family: "C059";
  font-weight: 400;
  font-style: italic;
  src: url("C059-Italic.ttf") format("truetype"),
}

@font-face {
  font-family: "C059";
  font-weight: 600;
  src: url("C059-Bold.ttf") format("truetype"),
}

@font-face {
  font-family: "C059";
  font-weight: 600;
  font-style: italic;
  src: url("C059-BdIta.ttf") format("truetype"),
}


@font-face {
  font-family: "NotoNaskh";
  src: url("NotoNaskhArabic-Regular.ttf") format("truetype");
  unicode-range: U+0600-06FF, U+FB50-FDFF, U+FE70-FEFF; /* Arabic/Persian Unicode range */
}
