/* GLOBAL */
:root {
  --main-font: 'Times New Roman', Times, serif;
  --display-font: 'Times New Roman', Times, serif;
  --body-font: 'Times New Roman', Times, serif;
  --primary-color: #FFF8F3;
  --secondary-color: #FF0000;
  --thin-border: 1.5px solid var(--secondary-color);

  --spacing: 0.5rem 0.75rem;
 }
 
 /* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  width: 100%;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--main-font);
}

a:hover {
  text-decoration: underline;
}

/* LAYOUT */

body {
  padding: var(--spacing);
  font-size: 1.3rem;
}


/* MENU */


nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: var(--spacing);
}

nav ul li {
  padding-left: 0.75rem;
}

/* desktop */
@media screen and (min-width: 769px) {  
  .hamb {
    display: none;
  }

  .m-nav {
    display: flex;
  }

}

/* mobile */
@media screen and (max-width: 768px) {  
  .hamb {
    display: inline-block;
  }
  .m-nav {
    display: none;
  }

  .m-nav li {
    text-align: end;
  }
}

.m-nav.show {
  display: block;
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

.hamb {
  --ham-width: 22px;
  cursor: pointer;
  position: relative;
  width: var(--ham-width);
  height: 22px;
  /* margin: 5px; */
}

.hamb-line:after, .hamb-line:before {
  display: block;
  content: "";
}

.hamb-line {
  top: 2px;
}

.hamb-line:before {
  top: 8px;
}

.hamb-line:after {
  top: 16px;
}

.hamb-line, .hamb-line:after, .hamb-line:before {
  position: absolute;
  width: var(--ham-width);
  height: 1.5px;
  transition-timing-function: ease;
  transition-duration: .2s;
  transition-property: transform;
  background-color: black;
}


.hamb.show .hamb-line {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamb.show .hamb-line:before {
  display: none;
}

.hamb.show .hamb-line:after {
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}
