/* GLOBAL */
:root {
  --main-font: 'Asul', Times, serif;
  --sub-font: 'C059', Times, serif;
  --body-font: 'Asul', Times, serif;
  --bg-color: #F2EADD;
  --primary-color: #4F4E3C;
  --secondary-color: #B1B199;
  --tertiary-color: #283337;
  --thin-border: 1.5px solid var(--secondary-color);

  --spacing: 0.5rem 0.75rem;
 }
 
 /* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--tertiary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  width: auto;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--main-font);
}

h3 {
  font-size: 1.8rem;
}

a:hover {
  /* text-decoration: underline; */
}

/* LAYOUT */

body {
  font-family: var(--main-font);

  padding: var(--spacing);
  font-size: 1.3rem;
  background-color: var(--bg-color);
}


/* MENU */

.title, nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: var(--spacing);
}

nav {
  top: 50%;
  transform: translateY(-70%);
}

nav ul {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

}

nav ul li {
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--secondary-color);
}

nav ul li .active, nav a:hover {
  color: var(--tertiary-color);
}




/* FORMS */

form {
  font-family: var(--sub-font);
  font-size: 1.1rem;
  padding-top: 2rem;
  max-width: 1000px;
  margin-bottom: 2rem;
}

.field {
  padding-right: 0.5rem;
}

.field label {
  display: block;
  margin-bottom: 0.25rem;
}

form .text {
  margin: 1rem 0;
}

form input, form textarea, form select {
  width: 100%;
  margin-bottom: 1rem;
}

form input:not([type="file"]), form select {
  height: 25px;
}

form input[type="file" i] {
  font-size: 1rem;
  margin-top: 0.25rem;
  font-family: var(--sans);
}

form textarea {
  height: 200px
}

button, form input::file-selector-button {
  background-color: transparent;
  font-size: 1.2rem;
  font-family: var(--main-font);
  border: var(--thin-border);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  height: 100%;
}

form button {
  width: 100%;
}

/* CALENDAR TIES */

#calendar {
  max-width: 890px;
  max-height: calc( 100vh - 100px);
  font-family: var(--sub-font);
  padding-top: 1rem;
}

.legend ul {
  padding-top: 10px;
  display: flex;
  font-size: 1.1rem;
}

.legend li {
  padding-right: 15px;
}

.legend .dot {
  --dot-size: 10px;
  width: var(--dot-size);
  height: var(--dot-size);
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
}

.fc .fc-multimonth-title {
  font-family: var(--main-font);
}

#calendar h2 {
  font-size: 1.25rem;;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem;
}
.fc .fc-multimonth-title {
  font-size: 1.15rem;
  padding: 0.75rem;
}

.fc .fc-button {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.fc table {
  font-size: 0.85rem;
}
.fc th {
  font-weight: 400;
}

.fc .fc-button-primary:disabled {
  background-color: gray;
  border-color: gray; 
}

.fc .fc-multimonth {
  /* overflow: unset; */
  /* border-left: none;
  border-right: none; */
}

:root {
   --fc-small-font-size: .85em; /* event text */
  --fc-page-bg-color: var(--bg-color);
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
  --fc-neutral-text-color: #808080;
  --fc-border-color: black;

  --fc-button-text-color: black;
  --fc-button-bg-color: transparent;
  --fc-button-border-color: black;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;

  --fc-event-bg-color: #4F4E3C;
  --fc-event-border-color: #4F4E3C;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: rgba(215, 215, 215, 0.3);
  --fc-bg-event-color: rgb(143, 223, 130);
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);
  --fc-now-indicator-color: red;
}


/* EVENTS */

.events .event {
  min-height: 40vh;
}

.events figure img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.event date {
  display: block;
  padding-bottom: 1rem;
}

