/* GLOBAL */
:root {
  --main-font: 'Asul', 'NotoNaskh', Times, serif;
  --sub-font: 'C059','NotoNaskh', Times, serif;
  --body-font: 'Asul', 'NotoNaskh', Times, serif;

  --persian: "Noto Naskh Arabic", serif;

  --bg-color: #F2EADD;
  --primary-color: #2E482F;
  --secondary-color: #8F9779;
  --tertiary-color: #16b3b3;
  --bang-color: #700A0A; 
  /* --primary-color: #2E482F;
  --secondary-color: #B1B199;
  --tertiary-color: #196659;
  --bang-color: #8D0A0D; 
  --tertiary-color: #027C67; 1d2c32; 264645; green: 464426; turquoise: 00B9B0*/
  --thin-border: 1.5px solid var(--secondary-color);

  --spacing: 1rem 1.5rem;
 }
 
 /* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: var(--tertiary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
}

img {
  width: auto;
}

/* MENU */

.title, nav {
  position: fixed;
  right: 0;
  top: 0;
  padding: var(--spacing);
  text-align: right;
}

.title a, nav a, .events a, .back {
  text-decoration: none;
  color: var(--tertiary-color);
}

.title a, .title a:hover .fa {
  font-size: 1.8rem;
  color: var(--primary-color);
}

.title a .fa, .title a:hover {
  color: var(--secondary-color);
}

nav a:hover {
  color: var(--primary-color);
}

nav {
  top: 50%;
  transform: translateY(-55%);
}

nav ul {
  display: flex;
  flex-flow: column;
  align-items: flex-end;

}

nav ul li {
  font-size: 1.5rem;
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  color: var(--secondary-color);
}

nav ul li .active {
  color: var(--primary-color);
}


/* LAYOUT and TYPE*/

body {
  font-family: var(--main-font);

  padding: var(--spacing);
  font-size: 1.3rem;
  background-color: var(--bg-color);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--main-font);
}

a:hover {
  /* text-decoration: underline; */
}

h3 {
  font-size: 1.5rem;
}

main {
  max-width: calc( 100vw - 390px );
}

/* .about main, .calendar main, .apply main, .events main, .event main, .home main { 
} */


figcaption, .lightbox-caption {
  font-size: 1.1rem; 
  font-family: var(--sub-font);
}

/* INTRO */

.home .fa p {
  margin-bottom: 0;
}

.about .fa, .home .fa {
  text-align: right;
  margin-bottom: 3rem;
}

.lung-container {
  display: flex;
  justify-content: space-between;
}

.lung {
  font-size: 2.2rem;
  position: relative;
  display: inline-block;
  width: 204px;
  height: 150px;
}

.lung:last-of-type {
  align-self: flex-end;
}

.lung > * {
  position: absolute;
  display: inline-block;
}

.lung > span:nth-of-type(1) {
  top: 0;
  left: 0;
}
.lung > span:nth-of-type(2) {
  top: 8px;
  left: 50px;
}
.lung > span:nth-of-type(3) {
  top: 27px;
  left: 140px;
}
.lung > span:nth-of-type(4) {
  top: 36px;
  left: 120px;
}
.lung > span:nth-of-type(5){
	top: 50px;
	left: 190px;
}

.red { color: var(--bang-color) }
.green { color: var(--primary-color) }
.sage { color: var(--secondary-color) }
.blue { color: var(--tertiary-color) }

.intro figure img {
  max-height: 300px;
  padding-bottom: 2rem;
}

.intro figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .button, .home .button {
  padding: 0.75rem 3rem;
  border-radius: 50px;
  font-size: 1.3rem;
}

.button-container {
  margin-top: 1.5rem;
  display: inline-block;
}

/* ABOUT */

.home section, .about section, .about h3 {
  /* font-size: 1.5rem; */
  font-size: 1.3rem;
}



.about .lung-container {
  height: auto
}


.about section {
  padding-bottom: 3rem;
  margin-top: 2rem;
}

.about h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.about section p, .home section p {
  margin-bottom: 1.5rem;
  line-height: 1.3;
}

.about .button-container {
  margin-bottom: 2rem;
}

.about section ul {
  list-style-type: disc;
}

.about section ul, ol {
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.about section figure ul {
  list-style-type: none;
  display: flex;
  margin-left: 0;
  margin-top: 3rem;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.about section figure, .about section figure img, .about section figure ul li {
  margin-right: 1rem;
  max-width: 20vw;
  display: inline-block;
}

.about section figure ul li img {
  width: 100%;
}

.apply p {
  font-size: 1.3rem;
}

/* FORMS */

form {
  font-family: var(--sub-font);
  font-size: 1.1rem;
  padding-top: 2rem;
  max-width: 1000px;
  margin-bottom: 2rem;
}

.field {
  padding-right: 0.5rem;
  margin-top: 1.5rem;
}

.field label {
  display: block;
  margin-bottom: 0.25rem;
}

form .text {
  /* margin: 1rem 0 1.5rem; */
}

form .text p {
  font-size: 1rem;
}

form input, form textarea, form select {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: var(--sub-font);
  padding: 0.75rem ;
  font-size: 1.1rem;
}


form input:not([type="file"]), form select {
  height: auto;
  border: 1px solid black;
}

form textarea {
  border: 1px solid black;
}

form input[type="file" i] {
  font-size: 1rem;
  margin-top: 0.25rem;
  font-family: var(--sans);
  padding: 0;
}

form textarea {
  height: 200px
}

button, form input::file-selector-button, .button {
  background-color: transparent;
  font-size: 1.2rem;
  font-family: var(--main-font);
  border: var(--thin-border);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  height: 100%;
  text-decoration: none;
  color: var(--secondary-color);
}

button:hover , form input::file-selector-button:hover, .button:hover {
 background-color: var(--secondary-color);
 border-color: var(--secondary-color);
 color: white;
}

form button {
  width: 100%;
}


/* EVENTS */

/* .events .event {
  height: 100px;
  padding-left: 20px;
  margin-bottom: 1rem;
}
.events .event:nth-of-type(3n) {
  border-left: 8px solid var(--primary-color);
}
.events .event:nth-of-type(3n + 1) {
  border-left: 8px solid var(--tertiary-color);
}
.events .event:nth-of-type(3n + 2) {
  border-left: 8px solid var(--secondary-color);
} */

.events .event a, .event .heading {
  padding :0.8rem 0.25rem;
  display: flex;
  justify-content: space-between;
}

.events .event a {
  border-bottom: var(--thin-border);
  color: var(--primary-color);
}

.events .event a:hover {
  color: var(--secondary-color);
}

.event .heading {
  padding-top: 0.9rem;
  border-top: var(--thin-border);
}

.events h3 {
  margin-bottom: 2rem;
}
.events figure img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.event date {
  display: block;
}

.event section img {
  width: 300px;
  margin: auto;
}

.event section figure {
  width: 100%;
  padding: 3rem;
  padding-bottom: 5rem;
  display: flex; 
  justify-content: center;
}

.event section h3 {
  padding-top: 2rem;
  margin-bottom: 0.5rem;
}

.event section {
  margin-top: 1rem;
}

.event section p {
  margin-bottom: 1rem;

}
