/* mobile */


.m-nav.show {
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
  padding-right: 1rem;
}

.hamb {
  --ham-width: 25px;
  cursor: pointer;
  position: relative;
  width: var(--ham-width);
  height: 25px;
  /* margin: 5px; */
}

.hamb-line:after, .hamb-line:before {
  display: block;
  content: "";
}

.hamb-line {
  top: 2px;
}

.hamb-line:before {
  top: 9px;
}

.hamb-line:after {
  top: 18px;
}

.hamb-line, .hamb-line:after, .hamb-line:before {
  position: absolute;
  width: var(--ham-width);
  height: 1.5px;
  transition-timing-function: ease;
  transition-duration: .2s;
  transition-property: transform;
  background-color: black;
}


.hamb.show .hamb-line {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamb.show .hamb-line:before {
  display: none;
}

.hamb.show .hamb-line:after {
  transform: translate3d(0, -18px, 0) rotate(-90deg);
}


@media screen and (max-width: 1015px) {  
  :root {
    --spacing: 0.5rem 1rem;
  }
  .hamb {
    display: inline-block;
  }
  .m-nav {
    display: none;
  }

  .m-nav li {
    text-align: end;
  }

  h3 {
    font-size: 1.2em;
  }

  figcaption, .lightbox-caption, .credit {
    font-size: 1rem; 
  }
  
  .header {
    z-index: 1;
    position: fixed;
    padding-bottom: 0.5rem;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to bottom, 
      var(--bg-color) 75%, 
      rgb(242, 234, 221, 0) 98%
    );

  }

  .title {
    position: relative;
    right: unset;
    text-align: left;
    left: 0;
  }

  .title a {
    font-size: 1.6rem;
  }

  nav {
    top: 35px;
    z-index: 100;
    padding-left: 1rem;
  }

  main {
    padding-top: 50px;
    max-width: 100vw;
  }

  .m-nav.show {
    width: 100vw;
    padding-top: 30vh;
    padding-bottom: 70vh;
    background: linear-gradient(
      to bottom, 
      var(--bg-color) 62%, 
      rgb(242, 234, 221, 0) 98%
    );
  }

  .lung-container {
    /* width: 88vw; */
    flex-flow: column;
    height: auto;
  }

  .lung {
    font-size: 2rem;
    height: 100px
  }

  .lung-container.left-only .lung:last-of-type {
    display: none;
  }

  .lung-container.right-only .lung:first-of-type {
    display: none;
  }

  .intro {
    margin-top: 0.5rem;
  }

  .home main {
    padding-bottom: 3em;
  }

  .home .lung-container {
    padding-bottom: 1rem;
  }

  .intro figure img {
    margin: 2rem 0;
    padding-bottom: 0.5rem;
  }

  .about section {
    padding-bottom: 2rem;
  }
  
  .about section figure {
    display: inline-block;
    vertical-align: top;
  }

  .about section figure, .about section figure img, .about section figure ul li {
    max-width: 43vw;
    margin-right: 0.5rem;
  }

  .about section figure:nth-of-type(2n), .about section figure:nth-of-type(2n) img {
    margin-right: 0;
  }

  .fc .fc-multimonth-title {
    padding: 0.5rem;
  }

  .apply main, .events main, .event main, .calendar main {
    padding-top: 60px;
  }

  .apply form .row > div {
    grid-column-start: span 12 !important;
  }

  .events h3 {
    margin-bottom: 1rem;
  }

  .events .event a, .event .heading {
    flex-flow: column;
  }

  .events date {
    font-size: 1.2rem;
  }
  
  .event date {
    padding-bottom: 0.65rem;
  }

  .event section p {
    margin-bottom: 0.5rem;
}

  .event .heading p {
    font-size: 1.8rem;
  }
  
  .event section img {
    width: 100%;
  }

  .event section figure {
    padding: 0;
    padding-bottom: 2rem;
  }

  .event main {
    margin-bottom: 3rem;
  }

}

/* tablet to desktop and up */
@media screen and (min-width: 1015px) {  
  .hamb {
    display: none;
  }

  .m-nav {
    display: flex;
  }

  .lung-container {
    height: 56vh; 
  }

  .lung {
    max-width: 46vw;
  }

  body.about {
    padding-left: 2rem;
  }

  .about .intro figure img {
    padding-top: 2rem;
  }

  .about section {
    margin-bottom: 2rem;
  }
}
